{% extends 'sims/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="images/icon-48x48.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <title>Amani internasional optical centre (AIOC)</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&amp;display=swap" rel="stylesheet">

    <!-- Choose your prefered color scheme -->
    <!-- <link href="css/light.css" rel="stylesheet"> -->
    <!-- <link href="css/dark.css" rel="stylesheet"> -->

    <!-- BEGIN SETTINGS -->
    <!-- Remove this after purchasing -->
    <link href="{% static 'sims/css/light.css' %}" rel="stylesheet">
    <link class="js-stylesheet" href="{% static 'sims/css/light.css' %}" rel="stylesheet">
    <!-- END SETTINGS -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-120946860-10', {
            'anonymize_ip': true
        });
    </script>
</head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
    <div class="wrapper">

        <div class="main">


            <main class="content">
                <div class="container-fluid p-0">

                    <div class="mb-3">
                        <h1 class="h3 d-inline align-middle">Amani International optical centre</h1><a class="badge bg-primary ms-2" href="#" target="_blank">List of all patient</i></a>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <div class="alert-message">
                                    <h4 class="alert-heading">AMANI INTERNATIONAL OPTICAL CENTRE, THE HEALING CENTRE</h4>
                                    <p>
                                        Best care for your eyes is our first priority
                                    </p>
                                    <pre class="h6 text-danger mb-0"><script src="{% static 'sims/js/datatables.js' %}"></script></pre>
                                </div>
                                
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">List Of All Patient</h5>
                                </div>




                                <div class="card-body table-responsive">
                                    <table id="" class="table table-striped" style="width:100%">
                                   
                                        
                                        {% if patient %}
                                        <thead>
                                            
                                            <tr>
                                                <th>
                                                    <form action="{% url 'export_patients_csv' %}" method="get">
                                                        <button type="submit" class="btn btn-lg btn-primary">CSV</button>
                                                    </form>
                                                </th>
                                                <th>
                                                    <form action="{% url 'export_patients_pdf' %}" method="get">
                                                        <button type="submit" class="btn btn-lg btn-primary">PDF</button>
                                                    </form>
                                                </th>
                                                <th>
                                                    <form action="{% url 'export_patients_excel' %}" method="get">
                                                        <button type="submit" class="btn btn-lg btn-primary">Excel</button>
                                                    </form>
                                                </th>
                                            </tr>
                                        </thead>
                                        {% endif %}
                                    </table>






                                <div class="card-body table-responsive">
                                    <table id="datatables-fixed-header" class="table table-striped" style="width:100%">
                                        {% if patient %}
                                        <thead> 
                                            <tr>
                                                <th>Patient Id</th>
                                                <th>Full Name</th>
                                                <th>Sex</th>
                                                <th>Place</th>
                                                <th>Age</th>
                                                <th>Phone</th>
                                                <th>Payment</th>
                                                <th>Cost</th>
                                                <th>Date</th>
                                                <th>View</th>
                                                {% if user.is_admin or user.is_staff %}
                                                <th>Update</th>
                                                <th>Delete</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in patient %}
                                            <tr>
                                                <td>{{i.Patient_Id}}</td>
                                                <td>{{i.First_Name}} {{i.Middle_Name}} {{i.Last_Name}}</td>
                                                <td>{{i.Sex}}</td>
                                                <td>{{i.Place}}</td>
                                                <td>{{i.Age}}</td>
                                                <td>{{i.Phone}}</td>
                                                <td>{{i.Payment}}</td>
                                                <td>TSh. {{i.Cost}}</td>
                                                <td>{{i.date_joined}}</td>
                                                <td><a href="{% url 'viewpatient' i.pk %}">View</a></td>
                                                {% if user.is_admin or user.is_staff %}
                                                <td><a class="" href="{% url 'updatepatient' i.pk %}">Update</a></td>
                                                <td><a class="" href="{% url 'deletepatient' i.pk %}">Delete</a></td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            <p>No Patient found</p>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>

    {% comment %} <script src="{% static 'sims/js/app.js' %}"></script> {% endcomment %}

    

    {% comment %} <script src="{% static 'sims/js/datatables.js' %}"></script> {% endcomment %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Datatables Fixed Header
            $("#datatables-fixed-header").DataTable({
                fixedHeader: true,
                pageLength: 25
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
          setTimeout(function(){
            if(localStorage.getItem('popState') !== 'shown'){
              window.notyf.open({
                type: "success",
                message: "Welcome to Amani International Optical Center.<u><a class=\"text-white\" href=\"https://www.worntechinfo.com\" target=\"_blank\">Contact Developer</a></u> 🚀",
                duration: 10000,
                ripple: true,
                dismissible: false,
                position: {
                  x: "left",
                  y: "bottom"
                }
              });
      
              localStorage.setItem('popState','shown');
            }
          }, 15000);
        });
      </script>

</body>

</html>

{% endblock %}